body{
    background: lemonchiffon;
}

#btn {
    width: 200px;
    height: 200px;
    background: palevioletred;
    border-radius: 50%;
    margin: 30px auto;
    text-align: center;
    line-height: 200px;
    color: purple;
    font-weight: bold;
    font-size: 42px;
    cursor: pointer;
    box-shadow: 0 10px 0 pink;
    user-select: none;
}

#btn:hover{
    opacity: 0.9;
}

#btn:active{
    box-shadow: 0 5px 0 pink;
    margin-top: 35px;
}